@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body.dark-theme {
  --bkg-color: #111b21;
  --bkg-nav: #202c33;
  --sub-menu: #202c33;
  --daftar-isi: #202c33;
  --text-color: #fffdfd;
  --color-text: #eaeaea;
  --all-articel: #202c33;
  --text-all-articel: #eaeaea;
  --all-articel2: #111b20;
  --h4-before: #e91e63;
  --li-ft: bbb;
  --social-link: rgba(255, 255, 255, 0.2);
  --social-link-color: #fff;
  --social-link-hofere: #fff;
  --social-link-hofere-color: #212121;
  --my-button: #111b21;
  --button-hs: #202c33;
  --button-hs-hover: #0d1117;
  --button-hitung: #3b454d;
  --button-hitung-hover: #0d1117;
  --color-input: #fff;
  --bkg-select-selected: #0d1117;
  --select-selected-after-bdr-color: #3e8da8;
  --a-link-web: #3e8da8;
  --bkg-previous: #e91e63;
  --bkg-next: #075e54;
  --color-next: #fff;
  --tgl-pembuatan: #eaeaea;
  --bkg-button-primary-start: linear-gradient(135deg, #1f2c34, #2b3942);
  --clr-button-primary-start: #ffffff;
  --bor-button-primary-start: #1f2c34;
  --box-button-primary-start: 0 6px 10px rgba(0, 0, 0, 0.3);
  --bkg-button-primary-start-hover: linear-gradient(135deg, #2b3942, #1f2c34);
  --box-button-primary-start-hover: 0 8px 12px rgba(0, 0, 0, 0.4);
  --bkg-button-secondary-start: transparent;
  --clr-button-secondary-start: #aec2cc;
  --bor-button-secondary-start: 2px solid #546b79;
  --box-button-secondary-start: 0 6px 10px rgba(0, 0, 0, 0.3);
  --bkg-button-secondary-start-hover: #546b79;
  --clr-button-secondary-start-hover: #ffffff;
  --box-button-secondary-start-hover: 0 8px 12px rgba(0, 0, 0, 0.4);
  --box-shadow: 0 4px 20px rgba(243, 226, 226, 0.1);
  --border: 1px solid #3f3535;
  --text-clr-hover: #f8f0f0;
  --border-focus: 1px solid #169;
}
body {
  --bkg-button-primary-start: linear-gradient(135deg, #f0f0f0, #d9d9d9);
  --clr-button-primary-start: #111b21;
  --bor-button-primary-start: #b0b0b0;
  --box-button-primary-start: 0 6px 10px rgba(0, 0, 0, 0.1);
  --bkg-button-primary-start-hover: linear-gradient(135deg, #d9d9d9, #f0f0f0);
  --box-button-primary-start-hover: 0 8px 12px rgba(0, 0, 0, 0.1);
  --bkg-button-secondary-start: transparent;
  --clr-button-secondary-start: #005f73;
  --bor-button-secondary-start: 2px solid #005f73;
  --box-button-secondary-start: 0 6px 10px rgba(0, 0, 0, 0.2);
  --bkg-button-secondary-start-hover: #005f73;
  --clr-button-secondary-start-hover: #ffffff;
  --box-button-secondary-start-hover: 0 8px 12px rgba(0, 0, 0, 0.3);
  --bkg-color: #eaeaea;
  --sub-menu: #009788;
  --bkg-nav: #009788;
  --text-color: #130b0b;
  --daftar-isi: #fff;
  --all-articel: #fff;
  --text-all-articel: #000;
  --all-articel2: #f2f2f2;
  --h4-before: #009788;
  --li-ft: #000;
  --social-link: rgba(155, 155, 155, 0.2);
  --social-link-color: #000;
  --social-link-hofere: #009788;
  --social-link-hofere-color: #fff;
  --my-button: #bec4ca;
  --button-hs: #009788;
  --button-hitung: #009788;
  --button-hs-hover: #075e54;
  --button-hitung-hover: #075e54;
  --color-input: #169;
  --bkg-select-selected: #315561;
  --select-selected-after-bdr-color: #abc;
  --a-link-web: #009788;
  --bkg-previous: #009788;
  --bkg-next: #fff;
  --color-next: #123;
  --tgl-pembuatan: #345;
  --box-shadow: 4px 4px 4px 8px rgba(0, 0, 0, 0.1);
  --border: 1px solid #4e7c4e;
  --text-clr-hover: #f7f3f3;
  --border-focus: 1px solid #009788;
}

nav {
  background: var(--bkg-nav);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: top 0.3s ease-in-out;
  z-index: 99;
} 
nav .navbar .links li .sub-menu {
  background: var(--sub-menu);
}
.navbar .search-box .input-box {
  background: var(--bkg-nav);
  color: var(--text-color);
}
.navbar.showInput .search-box .input-box {
  background: var(--bkg-nav);
}
.search-box .input-box::before {
  background: var(--bkg-nav);
}
nav .navbar .nav-links {
  background: var(--bkg-nav);
}
.modal-content {
  background: var(--bkg-nav);
  color: var(--text-color);
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  height: 70px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  z-index: 99;
}
nav .navbar {
  height: 100%;
  max-width: 1250px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  padding: 0 50px;
}
.navbar .logo a {
  font-size: 30px;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}
nav .navbar .nav-links {
  line-height: 70px;
  height: 100%;
}
nav .navbar .links {
  display: flex;
}
nav .navbar .links li {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding: 0 14px;
}
nav .navbar .links li a {
  height: 100%;
  text-decoration: none;
  white-space: nowrap;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
}
.links li:hover .htmlcss-arrow,
.links li:hover .js-arrow {
  transform: rotate(180deg);
}
nav .navbar .links li .arrow {
  height: 100%;
  width: 22px;
  line-height: 70px;
  text-align: center;
  display: inline-block;
  color: #fff;
  transition: all 0.3s ease;
}
nav .navbar .links li .sub-menu {
  position: absolute;
  top: 70px;
  left: 0;
  line-height: 40px;
  background: var(--bkg-nav);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 4px 4px;
  display: none;
  z-index: 2;
}
nav .navbar .links li:hover .htmlCss-sub-menu,
nav .navbar .links li:hover .js-sub-menu {
  display: block;
}
.navbar .links li .sub-menu li {
  padding: 0 22px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.navbar .links li .sub-menu a {
  color: #fff;
  font-size: 15px;
  font-weight: 500;
}
.navbar .links li .sub-menu .more-arrow {
  line-height: 40px;
}
.navbar .links li .sub-menu .more-sub-menu {
  position: absolute;
  top: 0;
  left: 100%;
  border-radius: 0 4px 4px 4px;
  z-index: 1;
  display: none;
}
.links li .sub-menu .more:hover .more-sub-menu {
  display: block;
}
.navbar .search-box {
  position: relative;
  height: 40px;
  width: 40px;
}
.navbar .search-box i {
  position: absolute;
  height: 100%;
  width: 100%;
  line-height: 40px;
  text-align: center;
  font-size: 22px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}
.navbar .search-box .input-box {
  position: absolute;
  right: calc(100% - 40px);
  top: 80px;
  height: 60px;
  width: 300px;
  background: var(--bkg-nav);
  border-radius: 6px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s ease;
}
.navbar.showInput .search-box .input-box {
  top: 65px;
  opacity: 1;
  pointer-events: auto;
  background: var(--bkg-nav);
}
.search-box .input-box::before {
  content: "";
  position: absolute;
  height: 20px;
  width: 20px;
  background: var(--bkg-nav);
  right: 10px;
  top: -6px;
  transform: rotate(45deg);
}
.search-box .input-box input {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 4px;
  transform: translate(-50%, -50%);
  height: 35px;
  width: 280px;
  outline: none;
  padding: 0 15px;
  font-size: 16px;
  border: none;
}
.navbar .nav-links .sidebar-logo {
  display: none;
}
.navbar .bx-menu {
  display: none;
}
@media (max-width: 920px) {
  nav .navbar {
    max-width: 100%;
    padding: 0 25px;
  }
  nav .navbar .logo a {
    font-size: 27px;
  }
  nav .navbar .links li {
    padding: 0 10px;
    white-space: nowrap;
  }
  nav .navbar .links li a {
    font-size: 15px;
  }
}
@media (max-width: 800px) {
  .navbar .bx-menu {
    display: block;
  }
  nav .navbar .nav-links {
    position: fixed;
    top: 0;
    left: -100%;
    display: block;
    max-width: 270px;
    width: 100%;
    background: var(--bkg-nav);
    line-height: 40px;
    padding: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease;
    z-index: 1000;
  }
  .navbar .nav-links .sidebar-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .sidebar-logo .logo-name {
    font-size: 25px;
    color: #fff;
  }
  .sidebar-logo i,
  .navbar .bx-menu {
    font-size: 25px;
    color: #fff;
  }
  nav .navbar .links {
    display: block;
    margin-top: 20px;
  }
  nav .navbar .links li .arrow {
    line-height: 40px;
  }
  nav .navbar .links li {
    display: block;
  }
  nav .navbar .links li .sub-menu {
    position: relative;
    top: 0;
    box-shadow: none;
    display: none;
  }
  nav .navbar .links li .sub-menu li {
    border-bottom: none;
  }
  .navbar .links li .sub-menu .more-sub-menu {
    display: none;
    position: relative;
    left: 0;
  }
  .navbar .links li .sub-menu .more-sub-menu li {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .links li:hover .htmlcss-arrow,
  .links li:hover .js-arrow {
    transform: rotate(0deg);
  }
  .navbar .links li .sub-menu .more-sub-menu {
    display: none;
  }
  .navbar .links li .sub-menu .more span {
    display: flex;
    align-items: center;
  }
  .links li .sub-menu .more:hover .more-sub-menu {
    display: none;
  }
  nav .navbar .links li:hover .htmlCss-sub-menu,
  nav .navbar .links li:hover .js-sub-menu {
    display: none;
  }
  .navbar .nav-links.show1 .links .htmlCss-sub-menu,
  .navbar .nav-links.show3 .links .js-sub-menu,
  .navbar .nav-links.show2 .links .more .more-sub-menu {
    display: block;
  }
  .navbar .nav-links.show1 .links .htmlcss-arrow,
  .navbar .nav-links.show3 .links .js-arrow {
    transform: rotate(180deg);
  }
  .navbar .nav-links.show2 .links .more-arrow {
    transform: rotate(90deg);
  }
}
@media (max-width: 370px) {
  nav .navbar .nav-links {
    max-width: 100%;
  }
}

html {
  scroll-behavior: smooth;
}
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  min-height: 100vh;
  background: var(--bkg-color);
}

.h1-judul {
  margin: 2% 2% 2% 2%;
}
.container {
  color: var(--text-all-articel);
}
.pTglPembuatan {
  color: #6c757d;
  margin-left: 9px;
}
header.masthead {
  padding-top: 10rem;
  padding-bottom: 20rem;
  text-align: center;
  color: #f7f7f7;
  background-image: url("fotopustakadarfik.png");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
}
@media only screen and (max-width: 600px) {
  header.masthead {
    padding-top: 12rem;
    padding-bottom: 0rem;
  }
}
.li-isi .scroll {
  text-decoration: none;
  color: var(--text-color);
}
.li-isi {
  margin-bottom: 15px;
}
#myBtn {
  display: none;
  position: fixed;
  bottom: 30px;
  right: 20px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: var(--my-button);
  color: #fff;
  cursor: pointer;
  padding: 8px;
  border-radius: 90% 90% 90% 90%;
  font-size: 18px;
}
.none {
  display: none;
}

.daftar-isi {
  margin-top: 70px;
  padding: 5px;
  background-color: var(--daftar-isi);
  margin: 4% 4%;
  border-radius: 0% 20% 3% 5%;
  color: var(--text-color);
}

.hrJudul {
  border: none;
  border-top: 1px solid;
  color: #bbb;
  margin-left: 9px;
}
.hrDaftarIsi {
  border: none;
  border-top: 5px solid;
  width: 30%;
  margin-bottom: 10px;
  color: #009788;
  margin-left: 8px;
}

.h1-daftar-isi {
  margin-bottom: 1px;
  margin-top: 10px;
  margin-left: 10px;
}

.ul-isi {
  margin-left: 40px;
}
.jarak {
  margin-top: 80px;
}
.jarak2 {
  margin-top: 20px;
}
.divBacaJuga {
  margin-top: 0px;
  background-color: #eaeaea;
  margin: 5% 30% 5% 5%;
}
.divBacaJuga .h1BacaJuga {
  margin-left: 9px;
  padding-top: 10px;
}
.divBacaJuga .pBacaJuga {
  margin-left: 9px;
  padding-top: 10px;
}
.all-articel {
  margin-top: 20px;
  padding: 5px;
  background-color: var(--all-articel);
  margin-left: 4%;
  margin-right: 4%;
  color: var(--text-all-articel);
  border-radius: 0.5rem;
}
@media only screen and (max-width: 600px) {
  .all-articel {
    margin: 2%;
  }
}

.all-articel > .h1-articel {
  margin-right: 9px;
  padding-top: 10px;
  text-align: right;
}

.all-articel > .h1-articell {
  margin-left: 9px;
  padding-top: 10px;
}

.all-articel > .p-articel {
  margin: 10px;
}

.all-articel > .p-articelArab {
  margin: 10px;
  text-align: right;
}

.all-articel2 {
  padding: 5px;
  background-color: var(--all-articel2);
  margin: 2% 6%;
  color: var(--al-articel);
}
@media only screen and (max-width: 600px) {
  .all-articel2 {
    margin: 3%;
  }
}
.dark-mode .all-articel2 {
  background-color: var(--all-articel2);
  color: var(--al-articel);
}
.all-articel2 > .h1-articel2 {
  margin-left: 9px;
  padding-top: 10px;
}
.all-articel2 > .h2-articel2 {
  margin-top: 5px;
  margin-left: 9px;
}

.h2-articel2 .a-articel2 {
  text-decoration: none;
  color: #009788;
}

.table-harokat {
  border-collapse: collapse;
  width: 100%;
  font-size: 14px;
}
.th-harokat,
.td-harokat {
  padding: 4px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
.a-link-web {
  text-decoration: none;
  color: var(--a-link-web);
}
.previous {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
  margin: 30px 0px 30px 30px;
}
.next {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
  margin-left: 0px;
}
.previous {
  background-color: #075e54;
  color: white;
}
.next {
  background-color: #e91e63;
  color: #fff;
}
.round {
  border-radius: 50%;
}
.dark-mode .previous {
  background-color: #009788;
}
.dark-mode .next {
  background-color: #fff;
  color: #000;
}


.w-f {
  width: 152px;
}
.custom-select {
  position: relative;
  font-family: bold;
}
.custom-select select {
  display: none;
}
.select-selected {
  background-color: var(--bkg-select-selected);
  margin-top: 10px;
}
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: var(--select-selected-after-bdr-color) transparent transparent transparent;
}
.select-selected.select-arrow-active:after {
  border-color: transparent transparent var(--select-selected-after-bdr-color) transparent;
  top: 7px;
}
.select-items div,
.select-selected {
  color: #cee;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}
.select-items {
  position: absolute;
  background-color: var(--bkg-select-selected);
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}
.select-hide {
  display: none;
}
.select-items div:hover,
.same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}
.button-hs {
  margin-top: 10px;
  background: var(--button-hs);
  width: 35%;
  color: #f0f6fc;
  border-width: 0px;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  border-radius: 1.25rem;
  font-size: 0.8rem;
  line-height: 1.75rem;
  border: none;
  transition: 0.2s;
}
.button-hs:hover {
  background-color: var(--button-hs-hover);
  transform: scale(1.01);
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.button-hs:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}
@media only screen and (max-width: 500px) {
  .button-hs {
    width: 30%;
  }
}
@media only screen and (max-width: 400px) {
  .button-hs {
    width: 25%;
  }
}
.ft {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.ft {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
  margin-top: 50px;
}
.all-articel > .h1-articel,
.articel {
  margin-left: 9px;
  padding-top: 30px;
}
.all-articel > .h2-articel,
.p-articel {
  margin: 10px;
  font-size: 90%;
}

.none {
  display: none;
}
form.whatsapp-form {
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
  border-radius: 0.5rem;
  padding: 20px;
  box-sizing: border-box;
  color: #444;
  font-size: 14px;
  line-height: 1.5;
}
.whatsapp-form a.send_form {
  color: #fff;
  background: #21a51f;
  text-decoration: none;
  display: inline-block;
  padding: 10px 25px;
  border-radius: 0.3rem;
  font-weight: 700;
  letter-spacing: 0.5px;
  font-size: 15px;
}
#text-info span {
  display: block;
  padding: 10px 15px;
  text-align: center;
  font-weight: 700;
  margin: 15px 0;
  border-radius: 0.5rem;
}
#text-info span.yes {
  background: #c6ffc5;
  color: #0ea904;
}
#text-info span.no {
  background: #ffc5c5;
  color: #ce0404;
}
.whatsapp-form {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  box-sizing: border-box;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 150px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #075e54;
  color: #f2f2f2;
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
  font-size: 18px;
}
.dark-mode #myBtn {
  background-color: #075e54;
  color: #f2f2f2;
}

.form-taqwiem {
  padding: 20px;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  text-align: center;
  margin-left: 4%;
  margin-right: 4%;
  color: var(--text-color);
}
@media screen and (min-width: 768px) {
  .form-taqwiem {
    max-width: 500px;
    margin: auto;
  }
}
.input-taqwiem {
  margin: 10px 0;
}
.h1-taqwiem {
  font-size: 24px;
  font-weight: bold;
}
.p-taqwiem,
.p-lok {
  font-size: 14px;
  margin: 5px 0;
}
.taqwiem-select {
  margin: 10px 0;
  width: 100%;
}
.taqwiem-select select {
  width: 100%;
  padding: 10px;
  border: var(--border);
  border-radius: 5px;
  font-size: 14px;
  background: var(--background-color);
  color: var(--text-color);
  cursor: pointer;
}
.taqwiem-select select:focus {
  outline: none;
}
.taqwiem-select select:hover {
  background-color: var(--button-hs-hover);
  color: var(--text-clr-hover);
}
select option {
  background: var(--button-hs-hover);
  color: var(--text-clr-hover);
}

.kotakinput {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: var(--border);
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    background: var(--background-color);
    color: var(--color-input);
}
.kotakinput:focus {
    outline: none;
    border: var(--border-focus);
}
.kotakinput:hover {
    background-color: var(--button-hs-hover);
    color: var(--text-clr-hover);
}
